@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
    display: flex;
    justify-content: center;
    background-color: #ECF5F8;
    font-family: 'Audiowide', cursive;
}

.calculator{
    margin-top: 15vh;
    padding: 20px;
    border-radius: 5px;
    background-color: #110934;

    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 80px 70px 70px 70px 70px 70px;
    gap: 3px 3px;
    grid-template-areas:
        "display display display display"
    }

.display{
    background: #b9b9b9;
    padding: 25px 10px 0px 0px;
    margin-bottom: 5px;
    grid-area: 1/1/2/5;
    text-align: right;
    font-size: 40px;
}

#zero{
    grid-area: 6/1/7/3
}

.topButton{
    background-color: #347B98
}

.number{
    background-color: #8964ac
}

.operator{
    background-color: #FB9902
}

.operate{
    background-color: #FB9902
}

button{
    font-size: 14px;
    border: 0pt;
    border-radius: 2px;
    font-family: 'Audiowide', cursive;
    font-size: large;
}

button:active{
    transform: scale(0.95);
}
            